<p>product-cart works!</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <ul>
  <li *ngFor="let products of cartItems" class="d-flex mt-3 align-items-center border p-4">
    <img style="width: 145px; height: 145px;" [src]="products.image" alt="{{ products.title }}" class="me-4">
    <div>
      <h5>Name : {{products.title}}</h5>
    <p>product-Category : <strong>{{ products.category }}</strong></p>
    <p>product-Quantity : {{  products.quantity }}</p>
    <p><strong> ₹{{products.price}}</strong> </p>
    <button class="btn btn-outline-danger" (click)="deleteItem(products.id)">Click To Remove</button>
    </div>
    
  </li>
</ul>
    </div>

    <div class="col-4">
      <div class="border p-3 mt-3">
         <p class="fs-5"><strong class="me-3">Total: </strong>₹{{ totalPrice }}</p>
    <button class="btn btn-success btn-lg">Click To Checkout</button>
      </div>
   
    </div>
  </div>
</div>

