
<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <ul>
  <li *ngFor="let products of cartItems" class="d-flex mt-3 align-items-center border p-4">
    <a [routerLink] ="['/details', products.id]"><img style="width: 145px; height: 145px;" [src]="products.image" alt="{{ products.title }}" class="me-4"></a>
    <div>
      <h5>{{products.title}}</h5>
    <p>Category : <strong>{{ products.category }}</strong></p>
    <div class="quantity-box border border-dark d-flex mt-2 align-items-center">
                <button (click)="handleQuantity(products,'min')" class="btn btn-sm btn-danger border-danger rounded-0 flex-fill">-</button>
                <span class="item-count-span flex-fill text-center">{{products.quantity}}</span>
                <button (click)="handleQuantity(products,'plus')" class="btn btn-sm btn-danger border-danger rounded-0 flex-fill">+</button>
            </div>

    <p><strong> ₹ {{ products.price }}</strong> </p>
    <button class="btn btn-outline-danger" (click)="deleteItem(products.id)">Click To Remove</button>
    </div>
    
  </li>
</ul>
    </div>

    <div class="col-4">
      <div class="border p-3 mt-3">
         <p class="fs-5"><strong class="me-3">Total: </strong>₹{{ totalPrice}}</p>
    <button class="btn btn-success btn-lg" (click)="goToCheckout()">Click To Checkout</button>
      </div>
   
    </div>
  </div>
</div>

