<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    Shopping-Home
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav ms-4">
      <li class="nav-item ">
        <a class="nav-link active" [href]="['/home']">Home</a>
      </li>
    </ul>
    
   
    <div class=" me-3 cart-icon-div">
      <span class="count-item">{{cartCount}}</span>
      <a [routerLink]="['/cart']"><img src="shopping-cart.png" alt="cart-icon" class="cart-icon"></a>
    </div>

  </div>

</nav>

<router-outlet></router-outlet>


