
<h2 class="text-center mb-3">Checkout Form</h2>
<div class="container">
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class=" row">
  <div class="form-group col-md-6">
    <label for="fname" class="form-label">First_Name:</label>
    <input type="text" formControlName="fname" id="fname" class="form-control mb-2" placeholder="Enter Your First Name">
  </div>

  <div class="form-group col-md-6">
    <label for="lname" class="form-label">Last_Name:</label>
    <input type="text" formControlName="lname" id="lname" class="form-control mb-2" placeholder="Enter Your Last Name">
  </div>

  <div class="form-group mt-2">
    <label class="form-label">Email:</label>
    <input type="email" formControlName="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Your Email">
    <small id="emailHelp" class="form-text text-muted mb-2">We'll never share your email</small>
  </div>

  <div class="form-group mt-2">
    <label class="form-label">Address:</label>
    <textarea type="text" formControlName="address" class="form-control" placeholder="Enter Your Address" rows="3"></textarea>
  </div>

  
  <div class="mt-3">
  <button type="submit" class="btn btn-outline-success">Submit</button>
  </div>
  </div>
</form>
</div>