

<div class="container-fluid mt-3">
    <div class="row">
            <div class="col-lg-3 col-md-6 col-12" *ngFor="let product of productList ">
                <div class="card d-flex align-items-center mb-3">
                    <img class="card-img-top" [src]="product.image" alt="{{ product.title }}">
                    <div class="card-body text-center">
                        <p class="card-text">{{product.title | slice:0:57 }}</p>
                        <p ><span class="price-text">Price:</span>  ₹ <span>{{product.price}}</span></p>
                        <p ><span class="category-text">category:</span> {{product.category}}</p>
                    </div>
                    <div class="card-footer bg-white border-0 d-flex justify-content-between gap-xl-3 gap-lg-1">
                        <div class="bottom-box border border-dark d-flex align-items-center">
                            <button id="addBtn" class="bottom-btn"  >+</button>
                            <span #ItemCount class="item-count-span">{{itemCount}} </span>
                            <button #subBtn class="bottom-btn"  >-</button>
                        </div>
                        <button class="btn btn-outline-danger rounded-0" (click)="saveDataInLocalStorage(product)">Add to Cart</button>
                    </div>
                </div>
        </div>
    </div>
</div>