<div class=" d-flex justify-content-md-between justify-content-sm-center align-items-center ms-md-3 ms-sm-0 me-md-3 me-sm-0 mt-2">
    
        <mat-form-field appearance="fill">
            <mat-label><small>Filter-by-Categoreis</small></mat-label>
            <mat-select [(value)]="selectedCategory" (selectionChange)="filterbyCategory()">
                <mat-option [value]="''">All Categories</mat-option>
                <mat-option [value]="'electronics'">
                    electronics
                </mat-option>
                <mat-option [value]="'jewelery'">
                    jewelery
                </mat-option>
                <mat-option [value]="'men\'s clothing'">
                    Men's clothing
                </mat-option>
                <mat-option [value]="'women\'s clothing'">
                    Women's clothing
                </mat-option>

            </mat-select>
        </mat-form-field>



    <mat-form-field>
        <mat-label><small>Sort-By-Price</small></mat-label>
        <mat-select [(value)]="sortOption" (selectionChange)="onSortChange()">
            <mat-option value="highToLow">
                High-to-Low
            </mat-option>
            <mat-option value="lowToHigh">
                Low-to-High
            </mat-option>

        </mat-select>
    </mat-form-field>
    <!-- <div class="btn btn-lg border-0">Reset</div> -->
   
</div>

<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-12" *ngFor="let product of filterProductList ">
            <div class="card d-flex align-items-center mb-3">
                <a [routerLink] ="['/details', product.id]"><img class="card-img-top" [src]="product.image" alt="{{ product.title }}"></a>
                <div class="card-body text-center">
                    <h2 class="card-text">{{product.title | slice:0:36 }}</h2>
                    <p><span class="price-text">Price:</span> ₹ <span>{{product.price}}</span></p>
                    <p><span class="category-text">category:</span> {{product.category}}</p>
                    
                </div>
                <div class="card-footer text-center">
                    <a [routerLink] ="['/details', product.id]">see details</a>
                </div>
            </div>
        </div>
    </div>
</div>