.card{

    .card-img-top {
    max-width: 210px;
    height: 230px;
    object-fit: contain;
    padding: 1rem;
    margin-top: 10px;
}   
    .card-body{
        height: 190px;
        // padding: 1.3rem;

        .card-text{
            font-size: 18px;
            font-weight: 600;
        }

        p{
            font-size: 16px;
            font-weight: 400;

            .category-text,.price-text{
                font-weight: 600;
                font-size: 16px;
                text-transform: capitalize;
            }
        }
    }
}