@use '@angular/material' as mat;


.card{

    .card-img-top {
    max-width: 210px;
    height: 230px;
    object-fit: contain;
    padding: 1rem;
    margin-top: 10px;

    @media screen and (max-width: 990px) {
        max-width: 180px;
        height: 240px;
        padding: 0rem;
        margin-top: 15px;
    }
}   
    .card-body{
        height: 190px;
        // padding: 1.3rem;
         @media screen and (max-width: 990px) {
            height: 170px;
         }

        .card-text{
            font-size: 18px;
            font-weight: 600;
        }

        p{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 15px !important;

            .category-text,.price-text{
                font-weight: 600;
                font-size: 16px;
                text-transform: capitalize;
            }
        }
    }

    .card-footer{
        width: 100%;
        background-color: transparent !important;
        border: none !important;

            a{
                text-decoration: none;
                text-transform: capitalize;
                font-size: 16px;
                color: black;
                font-weight: 500;

                
            }
        }
        
    }


@media screen and (max-width: 475px) {
    mat-form-field{
        width: 45%;
        margin-left: 15px;
    }
    
}

